<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Chess Game</title>
  <link rel="stylesheet" href="/stylesheets/front.css">

</head>
<body>
  <div class="overlay"></div>
  <div class="container">
    <h1 class="title">Welcome to ChessMate</h1>
    <p class="subtitle">Challenge your mind. Play against anyone, anywhere.</p>
    <button class="play-button" onclick="location.href='/game'">Play Now</button>
  </div>
</body>
</html>
